{% set type_mapping = {'info':'success', 'error': 'error', 'warning': 'warning', 'success': 'success'} %}
{% set icon_mapping = {'info':'check', 'error':'times', 'warning':'exclamation-triangle', 'success': 'check'} %}

{% if grav.messages.all %}
    <div id="messages">
    {% for message in grav.messages.fetch %}

        {% set scope = message.scope|e %}
        {% set type = type_mapping[scope] %}
        {% set icon = icon_mapping[scope] %}

        <div class="toast toast-{{ type }} {{ scope }}">
            <i class="fas fa-{{ icon }}"></i> {{ message.message|raw }}
        </div>
    {% endfor %}
    </div>
{% endif %}
