// Sticky Footer solution
body.sticky-footer {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  #page-wrapper {
    flex: 1 0 auto;
  }
}

#footer {
  color: $gray-color;
  padding: 1rem $horiz-padding 1rem;
  text-align: center;
  background-color: $footer-color;

  .container {
    > *:last-child {
      margin: 0;
    }

    ul {
      &.footer-list {
        display: flex;
        justify-content: center;
        list-style-type: none;

        > li {
          display: flex;
          margin: 0;
          &:not(:first-child):before {
            content: "\2022";
            font-weight: 900;
            margin: 0 0.4rem;
          }
        }
      }
    }
  }
}
