{% extends 'partials/base.html.twig' %}
{# Setting the blog variable is required for the taxonomy and sidebar partials to render links correctly. #}
{% set blog = page.find(theme_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = theme_var('show_breadcrumbs', true) %}
{% set show_sidebar = theme_var('show_sidebar', true) %}
{% set show_pagination = theme_var('show_pagination', true) %}
{% set hero_image_name = page.header.hero_image %}

{% block hero %}
    {% if hero_image_name %}
        {% set hero_image = page.media[hero_image_name] %}
        {% set content %}
            <h1>{{ page.title }}</h1>
            <h2>{{ page.header.subtitle }}</h2>
            {% include 'partials/blog/date.html.twig' %}
            {% include 'partials/blog/taxonomy.html.twig' %}
        {% endset %}
        {% include 'partials/hero.html.twig' with {id: 'blog-hero'} %}

    {% endif %}
{% endblock %}

{# We must override the body here in order to inject the additional class blog-listing #}
{% block body %}
<section id="body-wrapper" class="section blog-listing">
    <section class="container {{ grid_size }}">
        {% block messages %}
            {% include 'partials/messages.html.twig' ignore missing %}
        {% endblock %}

        {% block breadcrumbs %}
            {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
                {% include 'partials/breadcrumbs.html.twig' %}
            {% endif %}
        {% endblock %}

        {{ block('content_surround') }}

    </section>
</section>
{% endblock %}

{% block content %}
    {% embed 'partials/layout.html.twig' %}
        {% block item %}
            {% include 'partials/blog-item.html.twig' %}
        {% endblock %}
        {% block sidebar %}
            {% include 'partials/sidebar.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
